BASE_SOURCE_LINK = https://thispersondoesnotexist.com
USER_AGENT = insomnia/7.0.5
GRAB_TIMEOUT = 1000

!!! DATASET_ROOT_FOLDER = /path/to/pictures
DATASET_THREAD_SIZE = 5
THREAD_COUNT = 1

!!! WEIGHT_FOLDER = /path/to/weights
